@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.CoreWars;
@using Sandbox.UI.Construct;

@namespace Facepunch.CoreWars.UI
@attribute [StyleSheet( "/ui/Announcement.scss" )]
@inherits Panel

<root>
    <div class="header">
        <img src=@Icon class="icon" />
        <label class="title">@Title</label>
    </div>
    <label class="text">@Text</label>
</root>


@code
{
    public float EndTime { get; set; }
    public Label Reward { get; set; }
    public string Title { get; set; }
    public string Text { get; set; }
    public string Icon { get; set; }

    public void Update( string title, string text )
    {
        Title = title;
        Text = text;
    }

    public void SetIcon( string icon )
    {
        Icon = icon;
    }

    public void SetIcon( Texture texture )
    {
        Icon = texture.ResourcePath;
	}

	public override void Tick()
	{
		if ( !IsDeleting && Time.Now >= EndTime )
		{
			Delete();
		}
	}
}
