@import "./scss/base.scss";

Announcement {
  background-color: rgba($blue-dark, 0.9);
  border: 2px solid $blue;
  border-radius: 8px;
  align-self: center;
  flex-direction: column;
  padding: 8px 16px;
  transition: all 0.5s ease-in-out;
  transform-origin: 50% 50%;
  opacity: 1;
  top: 0;
  min-width: 330px;

  &:intro {
    opacity: 0;
    top: -20px;
  }

  &:outro {
    opacity: 0;
    top: -20px;
    transition: all 0.5s ease-in-out;
  }

  .header {
    align-items: center;

    .icon {
      width: 32px;
      height: 32px;
      margin-right: 8px;

      &.hidden {
        display: none;
      }
    }

    .title {
      font-size: 24px;
      color: $blue;
    }
  }

  .text {
    color: white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
    font-size: 18px;
    flex-grow: 1;
  }
}
