Announcement {
    align-self: flex-start;
    align-items: center;
    background-color: rgba(50 50 50 0.6);
    border-radius: 2px;
    flex-direction: column;
    padding: 32px;
    transition: all 0.5s bounce-in;
    transform: translateX(-50%);
    opacity: 1;
    bottom: 0;

    &:intro {
        opacity: 0;
        transform: scale(0 0) translateX(-50%);
    }

    &:outro {
        opacity: 0;
        transform: scale(0 0);
        transform: scale(0 0) translateX(-50%);
        transition: all 0.5s bounce-out;
    }

    .header {
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;

        .icon {
            width: 48px;
            height: 48px;
            margin-right: 16px;

            &.hidden {
                display: none;
            }
        }

        .title {
            font-family: Roboto;
            font-size: 32px;
            color: #f39b78;
        }
    }

    .text {
        color: white;
        font-size: 24px;
        font-family: Roboto;
        margin-left: 8px;
        flex-grow: 1;
        margin-right: 16px;
    }
}
