@import "./scss/base.scss";

FloatingDamage {
    justify-content: center;
    align-items: center;

    .damage {
        transition: all 0.7s ease-out;

        &:intro {
            font-size: 150px;
        }

        font-family: $font;
        font-size: 32px;
        font-weight: bold;
        text-shadow: 0px 0px 4px rgba(0 0 0 1);
        color: red;
    }

    &.hidden {
        display: none;
    }
}
