@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.CoreWars;
@using Sandbox.UI.Construct;

@namespace Facepunch.CoreWars.UI
@attribute [StyleSheet( "/ui/Hud.scss" )]
@inherits RootPanel

<div>
    <Storage></Storage>
    <Backpack></Backpack>
    <ItemStore></ItemStore>
    <AirdropStore></AirdropStore>
    <UpgradeStore></UpgradeStore>
    <RespawnScreen></RespawnScreen>
    <Announcements></Announcements>
    <ToastList></ToastList>
    <ChatBox></ChatBox>
    <StageInfo></StageInfo>
    <TeamList></TeamList>
    <WinSummary></WinSummary>
    <LoadingScreen></LoadingScreen>
    <VoiceList></VoiceList>

    <div class="bottom">
        <Vitals></Vitals>
        <Hotbar></Hotbar>
        <TeamCoreList></TeamCoreList>
    </div>
</div>


@code
{
	public static Hud Current { get; private set; }
	public Panel Crosshair { get; set; }

	private Team Team { get; set; }

	public static void SetTeam( Team team )
	{
		if ( Current == null || Current.Team == team )
			return;

		Current.RemoveClass( Current.Team.GetHudClass() );
		Current.AddClass( team.GetHudClass() );

		Current.Team = team;
	}

	public static void ToastAll( string text, string icon = "" )
	{
		Toast( To.Everyone, text, icon );
	}

    public static void Toast( CoreWarsPlayer player, string text, string icon = "" )
	{
		Toast( To.Single( player ), text, icon );
	}

	public Hud()
	{
		AddClass( Team.None.GetHudClass() );
		Current = this;
	}

	public override void Tick()
	{
        if ( CoreWarsPlayer.Me.IsValid() )
		{
            SetTeam( CoreWarsPlayer.Me.Team );
		}

		base.Tick();
	}
}
