InventorySlot {
    transition: all 0.1s ease-in;
    background-color: rgba( 50 50 50 0.4 );
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 2px;

    .icon {
        width: 80%;
        height: 80%;
        background-position: center;
        background-size: cover;
    }

    .stacksize {
        text-stroke: 4px black;
        position: absolute;
        bottom: 4px;
        right: 4px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 20px;
        color: white;
    }

    &.selected {
        transition: all 0.1s ease-out;
        background-color: rgba( #7cd8ef 0.3 );
        transform: scale( 1.1 1.1 );
        opacity: 1;
    }

    &:hover {
        transition: all 0.1s ease-out;
        transform: scale( 1.1 1.1 );
    }

    &.valid-drag {
        transition: all 0.1s ease-out;
        background-color: rgba( #b6e074 0.3 );
        transform: scale( 1.1 1.1 );
    }

    &.invalid-drag {
        transition: all 0.1s ease-out;
        background-color: rgba( #e07474 0.3 );
        transform: scale( 1.1 1.1 );
    }
}
