InventorySlot {
    transition: all 0.1s ease-in;
    background-color: #f5deb363;
    border-color: wheat;
    border-width: 4px;
    width: 80px;
    height: 80px;
    opacity: 0.8;

    .stacksize {
        position: absolute;
        bottom: 8px;
        right: 8px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 24px;
        color: white;
    }

    &.selected {
        transition: all 0.1s ease-out;
        box-shadow: 0px 10px 13px -7px #000000, 0px 0px 27px 3px rgba(97,223,41,0.81);
        transform: scale( 1.1 1.1 );
        border-color: green;
        border-width: 4px;
        opacity: 1;
    }

    &:hover {
        border-color: white;
    }

    &.valid-drag {
        border-color: green;
    }

    &.invalid-drag {
        border-color: red;
    }
}
