ItemWorldIcon {
    align-items: center;
    justify-content: center;

    .container {
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: 16px;

        .glow {
            position: absolute;
            box-shadow: 0 0 32px 0px rgba( 255 255 255 0.3 );
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }

        .icon {
            width: 64px;
            height: 64px;
        }
    }
}
