StageInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .container {
        background-color: rgba( 0 0 0 0.4 );
        position: absolute;
        border-radius: 2px;
        top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 400px;
        padding: 8px;

        .stage {
            font-size: 48px;
            font-family: Roboto;
            color: orangered;
        }

        .time {
            font-size: 32px;
            font-family: Roboto;
            color: white;
        }

        .next-stage-panel {
            background-color: rgba( 50 50 50 0.4 );
            border-radius: 2px;
            margin-top: 8px;
            padding: 8px;

            label {
                font-family: Roboto;
                font-size: 24px;
                color: white;
            }

            .next-stage {
                margin-left: 8px;
                color: orange;
            }
        }
    }

    &.hidden {
        display: none;
    }
}
