@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.CoreWars;
@using Sandbox.UI.Construct;

@namespace Facepunch.CoreWars.UI
@attribute [StyleSheet( "/ui/UpgradeStore.scss" )]
@inherits Panel
@implements IDialog

<root>
    <div class="modal">
        <label class="title">Team Upgrades</label>
        <div class="currency">
            <div class="iron"></div>
            <label @text="IronAmount">0</label>
            <div class="gold"></div>
            <label @text="GoldAmount">0</label>
            <div class="crystal"></div>
            <label @text="CrystalAmount">0</label>
        </div>
        <div @ref="ItemContainer" class="container">
            @if ( Entity.IsValid() )
            {
                foreach ( var item in Entity.Upgrades )
                {
                    <PurchasableItem class="item" Item=@item OnPurchaseClicked=@OnItemPurchased></PurchasableItem>          
                }
            }
        </div>
    </div>
</root>

@code
{
    public static UpgradeStore Current { get; private set; }

    public string IronAmount => GetResourceCount<IronItem>().ToString();
    public string GoldAmount => GetResourceCount<GoldItem>().ToString();
    public string CrystalAmount => GetResourceCount<CrystalItem>().ToString();
    public Panel ItemContainer { get; set; }
    public TeamUpgradesEntity Entity { get; set; }
    public bool IsOpen { get; set; }

    public UpgradeStore()
    {
        Current = this;
    }

    public void Open()
    {
        if ( IsOpen ) return;
        PlaySound( "upgrades.open" );
        IDialog.Activate( this );
        IsOpen = true;
    }

    public void Close()
    {
        if ( !IsOpen ) return;
        IDialog.Deactivate( this );
        IsOpen = false;
    }

    public void SetEntity( TeamUpgradesEntity entity )
    {
        Entity = entity;
    }

    public override void Tick()
    {
        if ( Game.LocalPawn is not CoreWarsPlayer player )
            return;

        if ( Entity.IsValid() )
        {
            var distance = Entity.Position.Distance( player.Position );

            if ( distance >= 300f )
            {
                Close();
                return;
            }
        }

        base.Tick();
    }

    protected int GetResourceCount<T>() where T : ResourceItem
    {
        if ( Game.LocalPawn is CoreWarsPlayer player )
        {
            return player.GetResourceCount<T>();
        }

        return 0;
    }

    protected virtual void OnItemPurchased( IPurchasableItem item )
    {
        CoreWarsPlayer.BuyUpgradeCmd( Entity.NetworkIdent, item.GetType().Name );
        Util.Play( "item.purchase" );
    }

    protected override void OnParametersSet()
    {
        BindClass( "hidden", () => !IsOpen );
        base.OnParametersSet();
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Entity );
    }

    protected override void OnAfterTreeRender( bool firstTime )
    {
        base.OnAfterTreeRender( firstTime );
	}
}
