@import "./scss/base.scss";

WinSummary {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    pointer-events: none;
    backdrop-filter-blur: 24px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);

    .modal {
        padding: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        pointer-events: all;

        .header {
            .title {
                color: $grey;
                font-family: $font;
                font-size: 36px;
            }

            .winner {
                color: $red;
                font-family: $font;
                font-size: 48px;
            }
        }

        .stats {
            .container {
                .left {
                    .title {
                        color: white;
                        font-family: $font;
                    }

                    .icon {
                        background-size: cover;
                        width: 64px;
                        height: 64px;
                    }
                }

                .right {
                    .players {
                        display: flex;
                        flex-direction: column;

                        .player {
                            .avatar {
                                background-size: cover;
                                width: 40px;
                                height: 40px;
                            }

                            .name {
                                font-family: $font;
                                font-size: 18px;
                            }

                            .score {
                                color: white;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        .next-round {
            .title {
                font-family: $font;
                font-size: 20px;
                color: $grey;
            }

            .countdown {
                background-color: $box-bg;
                border: 2px solid $box-border;

                .value {
                    font-family: $font;
                    font-size: 18px;
                    color: white;
                }
            }
        }
    }

    &.hidden {
        display: none;

        .modal {
            pointer-events: none;
        }
    }
}
