EditorEntityList {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    pointer-events: none;

    .modal {
        backdrop-filter-blur: 32px;
        background-color: rgba( 0 0 0 0.8 );
        padding: 16px;
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        pointer-events: all;

        > .title {
            margin-bottom: 32px;
            margin-top: 32px;
            font-family: Roboto;
            font-size: 32px;
            color: white;
        }

        .close {
            width: 90%;
        }

        .container {
            flex-direction: column;
            margin-top: 24px;
            flex-grow: 1;
            overflow: scroll;
            display: flex;
            width: 90%;

            .category {
                flex-grow: 0;
                flex-shrink: 0;
                margin-top: 24px;
                border-radius: 8px;
                background-color: rgba( 0 0 0.2 0.8 );
                flex-direction: column;
                padding: 8px;
                display: flex;
                align-items: center;

                .title {
                    font-family: Roboto;
                    margin-bottom: 16px;
                    font-size: 24px;
                    color: white;
                }

                .editor-button {
                    flex-grow: 1;
                    margin-top: 8px;
                    height: 48px;
                }
            }

            :first-child {
                margin-top: 0px;
            }
        }
    }
}
