@import "../scss/base.scss";

EditorBlockItem {
    transition: all 0.1s ease-in;
    border: 2px solid $box-border;
    background: linear-gradient(rgba(#000000, 0.7), rgba($box-bg, 0.7));
    border-radius: $border-radius-default;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    .icon {
        width: 70px;
        height: 70px;
        background-position: center;
        background-size: cover;
        pointer-events: none;
        border-radius: $border-radius-default;
    }

    &.selected {
        transition: all 0.1s ease-out;
        background: linear-gradient(rgba($red, 0.5), rgba($box-bg, 0.5));
        box-shadow: 0 4px 0 rgba(0, 0, 0, 0.7);
        border-color: $red;
        transform: translateY(-5px);
        opacity: 1;

        .key-number {
            background-color: $red;
        }
    }

    &:hover {
        transition: all 0.1s ease-out;
        transform: scale(1.1 1.1);
    }
}
