@import "SimpleForms.scss";

.editor-button {
    width: 100%;
    border-radius: 8px;
    background-color: $primary;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 8px;

    .label {
        font-size: 24px;
        color: white;
    }

    &.secondary {
        background-color: #d4a625;

        .label {
            color: #4d452c;
        }
    }

    &:hover {
        border: 2px solid white;
        background-color: mix( $primary, #222, 0.1 );

        &.secondary {
            background-color: mix( #d4a625, #222, 0.1 );
            border: 2px solid #4d452c;
        }
    }
}

rootpanel {
    &.devcamera {
        display: none;
    }
}

EditorHud {
    > .crosshair {
        background-color: white;
        border-radius: 50%;
        transform: translate( -50% -50% );
        border: 2px solid black;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 16px;
        height: 16px;
    }

    > .center {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    > .bottom {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
    }
}