@import "../scss/base.scss";

EditorBlockList {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;

    .modal {
        border-radius: 4px;
        padding: 8px;
        width: 40%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        pointer-events: all;
        backdrop-filter-blur: 24px;
        background-color: rgba(0, 0, 0, 0.8);

        .title {
            margin-bottom: 32px;
            font-family: $font;
            font-size: 48px;
            color: $red;
        }

        .items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            EditorBlockItem {
                margin-right: 8px;
                margin-top: 8px;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
