$red: #ff6961;
$blue: #59adf6;
$blue-dark: #224565;
$grey: #888e8e;
$gold: #f6ca2b;
$green: #42d6a4;
$orange: #f39742;
$purple: #9d94ff;
$pink: #c780e8;
$cyan: #08cad1;
$yellow: #f8f38d;
$editor: #f39742;
$box-bg: #313131;
$box-border: #404040;
