$red: #f34262;
$blue: #429ef3;
$grey: #888e8e;
$gold: #f6ca2b;
$green: #7fc112;
$orange: #f39742;
$purple: #8e20fd;
$pink: #e235e5;
$cyan: #06d1b9;
$yellow: #debd0e;

$box-bg: #313131;
$box-border: #404040;
