$pink: #f34262;
$blue: #429ef3;
$grey: #888e8e;
$gold: #f6ca2b;
$green: #90f342;
$orange: #f39742;
$purple: #8e20fd;
$pink: #fd9eff;
$cyan: #3ce8ff;
$yellow: #f2f560;

$box-bg: #313131;
$box-border: #404040;
